// Colors
@color-blue: #6665DD;
@color-white: white;
@color-dark: #403f4c;
@color-violet-old: #3E21BC;
@color-violet: #301887;
@color-green: #32E875;

// Main dimensions
@padding-thin: 2%;
@padding-main: 4%;
@padding-section: 5%;
@padding-main-mobile: 8%;

// Font sizes
@font-size-root: 16px;
@font-size-xxs: 0.423rem;
@font-size-xs: 0.563rem;
@font-size-sm: 0.75rem;
@font-size-base: 1rem;
@font-size-md: 1.33rem;
@font-size-lg: 1.77rem;
@font-size-xl: 2.369rem;
@font-size-xxl: 3.157rem;
@font-size-xxxl: 4.2rem;
@font-size-xxxxl: 5.6rem;

// Font weights
@font-weight-normal: 400;
@font-weight-bold: 600;

// Screen Sizes
@phone: 440px;
@tablet: 768px;
@desktop-m: 1300px;
@desktop-l: 1824px;

// Generic components
html, body {
  margin: 0;
  color: @color-dark;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: @font-size-root;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-weight: @font-weight-normal;

  &.in-transition {
    transition: transform 900ms ease;
  }
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

h1 {
  font-size: @font-size-xl;
  font-weight: @font-weight-bold;
}

h4 {
  font-size: @font-size-base;
  margin-top: .2rem;
  line-height: 1.4;

  &.avatar {
    margin: 0 0 0.75rem 0;

    span {
      font-weight: normal;
      opacity: 0.4;
      display: block;
      line-height: 1;
    }
  }
}

h5 {
  font-size: @font-size-base;
  color: fadeOut(@color-dark, 40%);
  letter-spacing: 0.04rem;
  line-height: 1.4;
}

hr {
  width: @font-size-xxl;
  border: 0;
  border-top: 2px solid lighten(@color-blue, 20%);
  margin: @font-size-lg auto @font-size-lg auto;
}

.body-section {
  padding: @font-size-xxxl 0 @font-size-xxxl 0;
  background-color: darken(@color-white, 0.6%);
  text-align: center;
  
  &+ .body-section {
    border-top: 1px solid darken(@color-white, 10%);
  }

  &.white {
    background-color: @color-white;
  }

  &.blue {
    border-color: lighten(@color-blue, 33%) !important;
    background-color: lighten(@color-blue, 35%) !important;

    &+ .body-section {
      border-color: lighten(@color-blue, 33%) !important;
    }
  }
}

.drift-open-chat {
  cursor: pointer;
}

.hidden-lg {
  display: none !important;
}

.signup-cta {
  margin-top: @font-size-xl;
  background-color: @color-white;
  border-radius: 4px;
  padding: @font-size-sm @font-size-md;
  text-decoration: none;
  color: @color-dark;
  display: inline-block;
  box-shadow: 0 4px 6px rgba(50,50,93,.15), 0 1px 3px rgba(0,0,0,.1);
  transition: all .15s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50,50,93,.12), 0 3px 6px rgba(0,0,0,.1);
    background-color: darken(@color-white, 6%);
  }

  img {
    height: 20px;
    margin-right: 6px;
    vertical-align: top;
  }

  &.blue {
    background-color: @color-blue;
    color: @color-white;
  }
}

.cta {
  p {
    margin-top: @font-size-xs;
    font-size: @font-size-sm;
    opacity: 0.8;
    text-align: center;
  }
}

.faq-item {
  width: 45%;
  text-align: left;
  margin: @font-size-xl auto 0 auto;
  display: flex;

  h3 {
    line-height: 1.35;
  }

  p {
    display: block;  
    margin: @font-size-sm auto;
    text-align: left;
    line-height: 1.5;
  }

  .number {
    font-weight: @font-weight-bold;
    line-height: 1;
  }
}

.status-feedback {
  .sub-explanation {
    opacity: 0.5;
    margin-top: -0.8rem;
  }
}

// Sections

#hero {
  text-align: center;
  color: @color-white;
  background-color: @color-violet;
  background-image: url("../images/cover-image-nature.jpg");
  background-size: cover;
  height: 91vh;

  .hero-cover {
    background-color: fadeout(@color-violet, 15%);
    padding: @font-size-xxxl;
    height: 100%;
  }

  .nav {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .logo {
      width: 110px;
      text-align: left;
    }

    .menu {
      margin: 0;

      li {
        display: inline-block;
        font-size: @font-size-base;

        a {
          color: @color-white;
          opacity: 0.8;
          text-decoration: none;

          &:hover {
            opacity: 1;
            text-decoration: underline;
          }
        }
      }

      li + li {
        margin-left: @font-size-xl;
      }
    }
  }

  &.thin {
    padding: @padding-thin @padding-main @padding-main @padding-main;
    background-image: none;
    height: auto;
  }

  .status-feedback {
    margin-top: @padding-main;
  }

  .hero-main {
    margin: 20vh 0 @font-size-xxxl 0;

    .hero-left {
      margin: 0 auto;
      text-align: center;
      max-width: 700px;
      display: flex;
      align-items: center;
      flex-basis: 0;
      flex-grow: 1;

      .cta {
        display: inline-block;
      }
    }

    ul {
      list-style: none;
      text-align: left;
      opacity: 0.8;
    }

    .hero-right {
      flex-basis: 0;
      flex-grow: 1;
    }

    h2 {
      font-size: @font-size-base;
      line-height: 1.4;
      font-weight: @font-weight-normal;
      width: 65%;
      opacity: 0.8;
      margin: 5px auto 0 auto;

      a {
        color: @color-white;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .chevron {
    display: block;
    width: 26px;
    margin-left: -13px;
    -webkit-animation-name: bob, bob;
    animation-name: bob, bob;
    -webkit-animation-duration: .375s, 1.425s;
    animation-duration: .375s, 1.425s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-delay: 0s, .225s;
    animation-delay: 0s, .225s;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
  }

  .scroll-down {
    position: absolute;
    bottom: 8vh;
  }

  &.alpha {
    height: auto;
    background-image: none;
    background: linear-gradient( @color-violet, darken(@color-green, 15%));

    .hero-cover {
      padding: @padding-thin;
    }

    h1 {
      font-size: @font-size-lg;
    }
    .hero-main {
      margin-top: 50px;
      margin-bottom: 30px;

      ul {
        margin-top: 20px;
        margin-left: -20px;
      }
    }
  }
}

.icon-section {
  width: @font-size-lg;
  height: @font-size-lg;
  margin-right: @font-size-sm;

  &.avatar {
    margin-right: @font-size-lg;

    h4 {
      margin-top: @font-size-base;
    }
  }

  &.center {
    margin: 0 auto;
  }

  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: @font-size-lg;
    height: @font-size-lg;
    font-size: @font-size-sm;
    background-color: @color-blue;
    color: @color-white;
    border-radius: 50%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);

    &.green {
      background-color: darken(@color-green, 5%);
      opacity: 0.7;
    }
  }

  .avatar {
    width: @font-size-xl;
    height: @font-size-xl;
    background-size: 1.5rem;
    background-repeat: no-repeat;
    background-color: @color-blue;
    border: 3px solid @color-blue;
    background-position: center;
  }

  .warren-buffet {
    background-image: url('../images/testimonials/warren-buffet.png');
  }

  .david-cancel {
    background-image: url('../images/testimonials/david-cancel.png');
  }

  .sam-altman {
    background-image: url('../images/testimonials/sam-altman.png');
  }

  .noah-kagan {
    background-image: url('../images/testimonials/noah-kagan.png');
  }

  .hiten-shah {
    background-image: url('../images/testimonials/hiten-shah.png');
  }

  .sheryl-sandberg {
    background-image: url('../images/testimonials/sheryl-sandberg.png');
  }

  .paul-adams {
    background-image: url('../images/testimonials/paul-adams.png');
  }
}

.text-section {
  h3 {
    margin-top: 3px;
    
    .less-important {
      font-weight: @font-weight-normal;
    }
  }

  p {
    line-height: 1.5;
  }
}

.benefits {

  .mini-benefits {
    width: 85%;
    margin: 0 auto;
    margin-top: @font-size-lg;
    display: flex;
    flex-wrap: wrap;

    .benefit {
      display: flex;
      width: calc((100% / 3) - (2 * @padding-thin));
      margin-top: @font-size-lg;
      text-align: left;
      padding: 0 @padding-thin;

      p {
        margin-top: @padding-thin;
        opacity: 0.9;
        line-height: 1.4;

        &.avatar {
          a {
            text-decoration: none;

            &:hover { 
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  &.alpha {

    h2 {
      font-size: @font-size-md;
    }

    h3 {
      opacity: 0.8;
      font-size: @font-size-base;
      font-weight: normal;
      margin-top: 3px;
    }

    .benefit {
      display: block;
      text-align: center;

      .icon-section {
        margin: 0 auto;
        font-weight: bold;
        margin-bottom: 15px;
        width: auto;
        height: auto;

        .avatar {
          font-size: @font-size-base;
          background-color: darken(@color-blue, 10%);
          border-color: darken(@color-blue, 10%);
          margin: 0 auto;
        }
      }
    }
  }
}

#how-it-works {

  .three-steps {
    text-align: left;
    margin: 0 auto;
    margin-top: @font-size-xxl;

    .step {
      display: flex;
      justify-content: space-between;
      width: 85%;
      margin: 0 auto;

      .step-text {
        flex-basis: 0;
        flex-grow: 1;
      }

      .step-visual {
        flex-basis: 0;
        flex-grow: 1;
        display: flex;
        align-items: center;

        .feature-image {
          box-shadow: 0 1px 2px rgba(0,0,0,0.2);
          padding: @font-size-base;
          background-color: @color-white;
          border-radius: 3px;
          margin: 0 auto;

          &.set-goals {
            width: 300px;
          }

          &.publish-goals {
            width: 300px;
          }

          &.report {
            width: 300px;
          }
        }
      }

      .feature {
        display: flex;
        width: 90%;
        margin-top: @font-size-xl;

        &.benefit {
          width: 89%;
          margin-top: @font-size-base;
          margin-left: calc(@font-size-lg + @font-size-sm);

          h4 {
            background: url('../images/smudge.svg') center center no-repeat;
            background-size: 100% @font-size-xxl;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            margin-left: -0.5rem;
            margin-right: -0.5rem;
            display: inline;
          }
        }

        p {
          margin-top: @font-size-xxs;
          margin-bottom: 0;
          opacity: 0.9;
          line-height: 1.6;
        }
      }

      .chevron {
        display: block;
        flex: 0 0 100%;
        width: 26px;
        margin: @font-size-lg auto;
        opacity: 0.2;
      }

    }
  }

  .step + .step {
    margin-top: 10%;
  }
}

#social-proof-2 {

  .tweets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;

    .twitter-tweet {
      max-width: calc(33% - 1) !important;
    }
  }
}

#bottom-cta {
  padding: @font-size-xxxxl inherit;
  margin: 0 auto;
  text-align: center;
  color: @color-white;
  background-color: @color-violet;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%234a5cf9' fill-opacity='0.3' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");

  .signup-cta {
    margin-top: @font-size-lg;
  }

  h3 {
    margin-top: 3px;
    font-size: @font-size-base;
    font-weight: @font-weight-normal;
    opacity: 0.8;
  }
}

footer {
  background-color: @color-violet;
  text-align: center;
  font-size: @font-size-sm;
  padding: @font-size-base 0;
  color: fadeout(@color-white, 20%);

  a {
    color: fadeout(@color-white, 20%);
    text-decoration: none;
    
    &:hover {
      color: @color-white;
    }
  }
}

@-webkit-keyframes bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

// Blog
#blog-header {
  .nav {
    background-color: @color-violet;
    color: @color-white;
    height: 54px;
    display: flex;

    .nav-content {
      max-width: 1200px;
      display: flex;
      margin: 0 auto;
      align-items: center;
    }

    .logo {
      width: 110px;
      margin: 0 auto;
    }
  }
}

#blog-content {
  padding: 50px 20px;
  max-width: 650px;
  margin: 0 auto;
  color: rgba(0, 0, 0, .84);

  img {
    margin-top: 20px;
    width: 100%;

    &.cover {
      width: 120%;
      margin-top: 40px;
      margin-bottom: 20px;
      margin-left: calc(-10%);
    }
  }

  h1 {
    font-size: @font-size-xl;
  }

  h2 {
    color: rgba(0, 0, 0, .54);
    font-weight: normal;
    margin-top: 10px;
  }

  h3 {
    font-size: @font-size-lg;
  }

  p, ul {
    font-family: Georgia, serif;
    font-size: calc(@font-size-base*1.2);
    line-height: calc(@font-size-base*1.9);
  }

  li + li {
    margin-top: 8px;
  }


}
// Blog - END

// Responsive

@media only screen  and (min-width: @desktop-m) {
  .step {
    width: 60% !important;
  }
}

@media only screen  and (max-width: @tablet) {

  .hidden-md {
    display: none !important;
  }

  .hidden-lg {
    display: flex !important;
  }

  .body-section {
    padding: @padding-main-mobile;
  }

  #hero {
    height: 100vh;
    background-position-x: 50%;

    .hero-cover {
      padding: @padding-main-mobile;
    }

    .menu {
      display: none;
    }

    .chevron {
      margin-top: @font-size-xl;

      &.scroll-down {
        bottom: 5vh;
      }
    }
  
    .hero-main {
      display: block;

      h1 {
        font-size: @font-size-lg;
      }

      h2 {
        width: 100%;
      }

      .hero-left {
        .hero-text {
          width: 100%;
        }
      }
    }
  }

  .cta {
    width: 100%;

    .signup-cta {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
    }
  }

  hr {
    margin: @font-size-xl auto;
  }

  .benefits {
    .mini-benefits {
      display: block;
      width: 100%;
  
      .benefit {
        width: 100%;
        padding: 0;
      }
    }
  }

  #how-it-works {
    .three-steps {
      .step {
        display: block;
        width: 100%;

        .step-visual {
          margin-top: @font-size-lg;

          .feature-image {
            max-width: 90%;
          }
        }

        .feature {
          width: 100%;
        }
      }

      .step + .step {
        margin: @font-size-xxl 0 0 0;
      }

      .chevron {
        margin: @font-size-lg auto !important;
      }
    } 
  }

  #social-proof-2 {
    .tweets {
      width: 100%;

      .twitter-tweet {
        max-width: 100% !important;
      }
    }
  }
  
  .faq-item {
    width: 100%;
  }
}