html,
body {
  margin: 0;
  color: #403F4C;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-weight: 400;
}
html.in-transition,
body.in-transition {
  transition: transform 900ms ease;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
h1 {
  font-size: 2.369rem;
  font-weight: 600;
}
h3 {
  font-size: 1.33rem;
}
h4 {
  font-size: 1rem;
  margin-top: .2rem;
  line-height: 1.4;
}
.body-section {
  padding: 5% 4%;
  background-color: #fdfdfd;
  text-align: center;
}
.body-section + .body-section {
  border-top: 1px solid #e6e6e6;
}
.body-section.white {
  background-color: white;
}
.body-section.blue {
  border-color: #edeffe !important;
}
.drift-open-chat {
  cursor: pointer;
}
.signup-cta {
  margin-top: 2.369rem;
  background-color: white;
  border-radius: 4px;
  padding: 0.75rem 1.33rem;
  text-decoration: none;
  color: #403F4C;
  display: inline-block;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.15), 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: all .15s ease;
  cursor: pointer;
}
.signup-cta:hover {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.12), 0 3px 6px rgba(0, 0, 0, 0.1);
}
.signup-cta img {
  height: 20px;
  margin-right: 6px;
  vertical-align: top;
}
.signup-cta.blue {
  background-color: #4A5CF9;
  color: white;
}
.faq-item {
  width: 45%;
  text-align: left;
  margin: 2.369rem auto 0 auto;
  display: flex;
}
.faq-item h3 {
  line-height: 1.35;
}
.faq-item p {
  display: block;
  margin: 0.75rem auto;
  text-align: left;
  line-height: 1.5;
}
.faq-item .number {
  font-weight: 600;
  line-height: 1;
}
.status-feedback .sub-explanation {
  opacity: 0.5;
  margin-top: -0.8rem;
}
#hero {
  padding: 4%;
  text-align: center;
  color: white;
  background-image: linear-gradient(to bottom right, #4A5CF9, #46237A);
}
#hero .nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#hero .nav .logo {
  width: 100px;
  height: 14px;
  text-align: left;
}
#hero .nav .menu {
  margin: 0;
}
#hero .nav .menu li {
  display: inline-block;
  font-size: 1rem;
}
#hero .nav .menu li a {
  color: white;
  opacity: 0.8;
  text-decoration: none;
}
#hero .nav .menu li a:hover {
  opacity: 1;
  text-decoration: underline;
}
#hero .nav .menu li + li {
  margin-left: 2.369rem;
}
#hero.thin {
  padding: 2% 4% 4% 4%;
}
#hero .status-feedback {
  margin-top: 4%;
}
#hero .hero-main {
  margin: 0 0 0;
  display: flex;
  justify-content: space-between;
  margin: 5% 0;
}
#hero .hero-main .hero-left {
  margin-top: 2.369rem;
  text-align: left;
  display: flex;
  align-items: center;
  flex-basis: 0;
  flex-grow: 1;
}
#hero .hero-main .hero-left .hero-text {
  width: 90%;
}
#hero .hero-main .hero-left .cta {
  display: inline-block;
}
#hero .hero-main .hero-left p {
  margin-top: 0.563rem;
  font-size: 0.75rem;
  opacity: 0.8;
  text-align: center;
}
#hero .hero-main .hero-right {
  flex-basis: 0;
  flex-grow: 1;
}
#hero .hero-main h2 {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  width: 90%;
  opacity: 0.8;
  margin-top: 1rem;
}
#hero .hero-main h2 a {
  color: white;
  text-decoration: none;
}
#hero .hero-main h2 a:hover {
  text-decoration: underline;
}
#hero .chevron {
  display: block;
  width: 26px;
  margin: 0 auto;
  -webkit-animation-name: bob, bob;
  animation-name: bob, bob;
  -webkit-animation-duration: .375s, 1.425s;
  animation-duration: .375s, 1.425s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-delay: 0s, .225s;
  animation-delay: 0s, .225s;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
#hero .scroll-down {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.icon-section {
  width: 1.77rem;
  height: 1.77rem;
  margin-right: 0.75rem;
}
.icon-section.center {
  margin: 0 auto;
}
.icon-section .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.77rem;
  height: 1.77rem;
  font-size: 0.75rem;
  background-color: #4A5CF9;
  color: white;
  border-radius: 50%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.icon-section .circle.green {
  background-color: #1be566;
  opacity: 0.7;
}
.text-section h3 .less-important {
  font-weight: 400;
}
.text-section p {
  line-height: 1.5;
}
#benefits {
  background-color: #f7f8ff !important;
}
#benefits .mini-benefits {
  width: 85%;
  margin: 0 auto;
  margin-top: 1.77rem;
  display: flex;
  flex-wrap: wrap;
}
#benefits .mini-benefits .benefit {
  display: flex;
  width: calc(29.33333333%);
  margin-top: 1.77rem;
  text-align: left;
  padding: 0 2%;
}
#benefits .mini-benefits .benefit p {
  margin-top: 2%;
  opacity: 0.9;
  line-height: 1.4;
}
#how-it-works .three-steps {
  text-align: left;
  margin: 0 auto;
  margin-top: 3.157rem;
}
#how-it-works .three-steps .step {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
}
#how-it-works .three-steps .step .step-text {
  flex-basis: 0;
  flex-grow: 1;
}
#how-it-works .three-steps .step .step-visual {
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  align-items: center;
}
#how-it-works .three-steps .step .step-visual .feature-image {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  background-color: white;
  border-radius: 3px;
  margin: 0 auto;
}
#how-it-works .three-steps .step .step-visual .feature-image.set-goals {
  width: 280px;
}
#how-it-works .three-steps .step .step-visual .feature-image.publish-goals {
  width: 380px;
}
#how-it-works .three-steps .step .step-visual .feature-image.report {
  width: 441px;
}
#how-it-works .three-steps .step .feature {
  display: flex;
  width: 90%;
  margin-top: 1.77rem;
}
#how-it-works .three-steps .step .feature.benefit {
  width: 89%;
  margin-left: calc(2.52rem);
}
#how-it-works .three-steps .step .feature p {
  margin-bottom: 0;
  opacity: 0.9;
  line-height: 1.6;
}
#how-it-works .three-steps .step .chevron {
  display: block;
  flex: 0 0 100%;
  width: 26px;
  margin: 1.77rem auto;
  opacity: 0.2;
}
#how-it-works .step + .step {
  margin-top: 10%;
}
footer {
  background-image: linear-gradient(to right, #4A5CF9, #46237A);
  text-align: center;
  font-size: 0.75rem;
  padding: 0.75rem 0;
  color: rgba(255, 255, 255, 0.8);
}
footer a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}
footer a:hover {
  color: white;
}
@-webkit-keyframes bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@media only screen and (max-width: 768px) {
  .hidden-md {
    display: none !important;
  }
  .body-section {
    padding: 8%;
  }
  #hero {
    padding: 8%;
  }
  #hero .menu {
    display: none;
  }
  #hero .chevron {
    margin-top: 2.369rem;
  }
  #hero .hero-main {
    display: block;
  }
  #hero .hero-main h1 {
    font-size: 1.77rem;
  }
  #hero .hero-main h2 {
    width: 100%;
  }
  #hero .hero-main .hero-left .hero-text {
    width: 100%;
  }
  .cta {
    width: 100%;
    margin-bottom: 2.369rem;
  }
  .cta .signup-cta {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
  #benefits .mini-benefits {
    display: block;
    width: 100%;
  }
  #benefits .mini-benefits .benefit {
    width: 100%;
    padding: 0;
  }
  #how-it-works .three-steps .step {
    display: block;
    width: 100%;
  }
  #how-it-works .three-steps .step .step-visual {
    margin-top: 1.77rem;
  }
  #how-it-works .three-steps .step .step-visual .feature-image {
    max-width: 90%;
  }
  #how-it-works .three-steps .step .step-visual .feature-image.publish-goals {
    width: 100%;
  }
  #how-it-works .three-steps .step .feature {
    width: 100%;
  }
  #how-it-works .three-steps .step + .step {
    margin: 3.157rem 0 0 0;
  }
  #how-it-works .three-steps .chevron {
    margin: 1.77rem auto !important;
  }
  .faq-item {
    width: 100%;
  }
}
@media only screen and (min-width: 1224px) {
  .hidden-lg {
    display: none !important;
  }
}
